page-abrir-chamado {
    .principal-custom {
        background-color: aqua;
        background: url("../assets/imgs/fundo.png") no-repeat center center fixed;
        background-size: cover;
        background-position: center;
   
    .caixa-texto{
        background-color: white;

        
    }
   .cores-fonte{
    color: white;
}
   }
}
