page-consultar-chamado {
    .principal-custom {
        background-color: aqua;
        background: url("../assets/imgs/fundo.png") no-repeat center center fixed;
        background-size: cover;
        background-position: center;
   }
}
